<nav-component></nav-component>

<div class="row margin-top-2">
    <div class="col s12 m12 l12 xl6 margin-top-1">
        <progress-component 
            [percent]="percent"></progress-component>
        <video-component 
            (onMediaEvents)="onMediaEvents($event)"
            (onMediaProperties)="onMediaProperties($event)"
            (onBufferedEvent)="onBufferedEvent($event)"
            (onProgressEvent)="onProgressEvent($event)"></video-component>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12 xl12">
        <mediaevents-component
            [mediaEvents]="mediaEvents"></mediaevents-component>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12 xl12">
        <mediaproperties-component 
            [mediaProperties]="mediaProperties"></mediaproperties-component>
    </div>
</div>




