$green: green;

.card {
    margin: 0 auto;

    .card-title {
        cursor: default;
        font-weight: 400;
    }

    .title {
        font-weight: 300;
        margin-left: 0.5em;
        text-overflow: ellipsis;
    }

    .filters {
        font-weight: 300;
        margin: 0 0 0 0;
        color: $green;
        font-size: 0.75em;
    }

    i.material-icons {
        cursor: pointer;
    }
}