<div class="card">
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
            <i class="material-icons left"
                (click)="togglePlayPause($event)"
                (click)="emitPlayPause($event)">
                {{ isPlaying ? 'pause_circle_outline' : 'play_circle_outline' }}
            </i>

            {{ currentTime ? (currentTime | videoTime) : (0 | videoTime) }} / {{ duration ? (duration | videoTime) : (0 | videoTime)  }}
            
            <span class="title">
                {{ currentTitle }}
            </span>
            
            <i class="material-icons right" title="Apply filter"
                (click)="toggleFilter($event)">movie_filter
            </i>

            <span class="filters right">{{ filterName | ucwords }}</span>
        </span>
        <p></p>
    </div>
</div>